.jumbotron {
	margin-bottom: 0px;
	text-shadow: gray 0.5em 0.5em 0.5em;
	background-color: #e6f3ff;
}

.text-center {
	color: darkred;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-style: bold;
}

#red {
	width: 100px;
	height: 100px;
}

#blue {
	width: 100px;
	height: 100px;
}

#yellow {
	width: 100px;
	height: 100px;
}

#green {
	width: 100px;
	height: 100px;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url("../images/background.jpg");
}